body {
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) 
    calc(.5 * var(--s)) calc(.5 * var(--s) * 0.577),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s) * 0.577);
}

.App {
  min-height: 100vh; /* Garantiza que el contenido se ajuste a la pantalla completa */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px; /* Añadido un poco de espacio alrededor del contenido */
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

.contenedor-calculadora {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background-color: rgba(76, 79, 130, 1);
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.fila {
  margin: 15px 0; /* Aumentado el espacio entre las filas */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos uniformemente en la fila */
}

/* Estilos específicos para pantallas más pequeñas (479x750) */
@media (max-width: 479px) {
  .fila {
    flex-direction: row; /* Forzar dirección de fila en pantallas pequeñas */
    justify-content: space-around; /* Distribuir los elementos alrededor en pantallas pequeñas */
  }
}